.main-pizza {
	height: 450px;
	background-color: yellow;
}
.pizza-headline {
	position: absolute;
	text-align: center;
	font-size: 24px;
	font-weight: 700;
}
#topper {
	margin-top: 5%;
}
.pizza-but {
	padding: 15px 10px;
	color: white;
	background-color: red;
	border: none;
	border-radius: 10px;
}
.pizza-text {
	color: black;
	margin-top: 3%;
}
#pizza-basc {
	max-height: 100px;
}
#BackBut {
	position: absolute;
	text-align: center;
	width: 120px;
	height: 50px;
	background-color: grey;
	color: white;
	border: none;
	border-radius: 25px;
	box-shadow: 0px 0px 5px grey;
	margin-top: 7%;
	margin-left: -11%;
}